@keyframes shine {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  .shine {
    background: linear-gradient(110deg, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.2) 60%);
    background-size: 200% auto;
    animation: shine 3.5s linear infinite;
  }